@charset "UTF-8";

 


/* A partir de tablet */
@media screen and (min-width: 768px) {
    span#icone-menu{
        display: none;
    }

    menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    menu li{
        display: inline-block;
        width: 120px;
        border-radius: 10px;
        margin: 7px;
    }

    menu li a{
        border-radius: 10px;
    }
}