@charset "utf-8";

body{
    background: #8ABCE0;
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: center;
}



header>a>img{
    max-width: 100px;
    height: auto;
}

header>a>img:hover{
    position:relative;
    top:-2px;
    left:-2px;
}

header>a{
    text-decoration: none;
}

header>picture>img{
    max-width: 500px;
    border-radius: 4px;
}

header>a:visited{
    color: black;
}

header>a:hover{
    text-decoration: underline;
}


section.pergunta{
    background-color: #fcfcfa;
    max-width: 800px;
    min-width: 320px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 1px #c9100d71;
    display: grid;
    grid-template-columns: auto;
}

section.pergunta>figure{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    
}

section.pergunta:hover{
    position: relative;
    top: -5px;
    left: -5px;
    box-shadow: 8px 8px 0px #df050133;;
}

section.pergunta >figure>a>img{
    border-radius: 4px;
    max-width: 150px;
}



section.pergunta:hover >figure>a>img{
    display: block;
    box-shadow: 2px 2px 1px black;
}



section.pergunta >iframe{
    border-radius: 4px;
    display: block;
    margin: auto;
}

section.pergunta>figure>a>img:hover {
    width: 250px;
}